{% extends 'base2.html' %}
{% block title %} Anasayfa - {{block.super}} {% endblock %}
{% block body%}

	<div class="banner-inner">
	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'home' %}">Anasayfa</a>
		</li>
		<li class="breadcrumb-item active">Hakkımda</li>
	</ol>
	<!--//banner-->
	<!--/main-->
	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Hakkımda</h3>
			<div class="row inner-sec">
				<!--left-->
				<div class="col-lg-12 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">

						<p>Merhaba, 1994 İzmir/Konak doğumluyum. Ailemin ilk çocuğuyum. 5 yaşında falan 
							bilgisayar görebilmek için evdekiler uyurken evin camından çıkar komşuya kaçarmışım.
							Arçelik bir bilgisayar ilk tanıştığım bilgisayar win98 vardı yanlış hatırlamıyorsam.
							Disketler falan o zaman bu bilgisayarların kurulum araçları. Böyle 4 5 tane ardarda disket takılırdı.
							Oradan başlayan bu merak beni lise hayatında Ticaret Meslek Lisesine yönlendirdi.
							Amaç bilgisayar bölümüne gidebilmek. Lakin bölüm seçimlerinde muhasebeye yerleştirildim...
							Uzun süre sürmedi merak etme. 1 2 ders girdikten sonra koştura koştura bilgisayar bölümüne geçtim.
							O zamanlar kendi çapımda programlama diye birşeyler öğrenmeye çalışıyorum.
							Derken derken web tasarım bölümü ile ilgili hem hocalarım hem kendi arzumla çok şeyler yaptım.<p>
							Meslek liseli olmanın dezavantajı görmediğin matematikle üniversiteyi kazanmak zorunda oluşundur net.
							1 sene mezuna kaldıktan sonra Adnan Menderes Üniversitesi/ Bilgisayar ve Öğretim Teknolojileri Öğretmenliği bölümünü kazandım.
							4.senenin ortalarına doğru öğretmen değil daha yukarıya gitmem gerektiğini hocalarım sayesinde fark ettim.
							Mezun olur olmaz Uludağ Üniversitesi / Bilgisayar ve Öğretim Teknolojileri Eğitmenliği Yüksek Lisans programını kazandım.
							Şuan tez dönemindeyim. Artırılmış Gerçeklik üzerine bir tez çalışmam var. Ayrıca 
							OİB Mesleki ve Teknik Anadolu Lisesi ve İrfaniye Ortaokulunda Bilişim Teknolojileri Öğretmenliği yaptım. 
							Kendime hep söz verdiğim gibi ilk öğrencilerimden kimseyi sınıfta bırakmadım.
							<p>
								Şimdi mi? Bir garip eğitim sevdalısıyım.
							</p>
							<p> Udemy'de Öğretmen olduğum da doğrudur.</p>
							
							<p>Yazı yakında tekrar güncellenecektir. Bu şimdi az aceleye geldi.</p>
						</p>
						</p>
</p>
					</div>
				
				</div>
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->
{%endblock%}