{% extends 'base.html' %}
{% block title %} Anasayfa - {{block.super}} {% endblock %}



{% block body%}

evet

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>PHP - Multiple Image upload using dropzone.js</h2>
                <form action="upload.php" enctype="multipart/form-data" class="dropzone" id="image-upload">
                    <div>
                        <h3>Upload Multiple Image By Click On Box</h3>
                    </div>
                </form>
            </div>
        </div>
    </div>

<br>
<br>
{% endblock %}

