{% extends 'base2.html' %}
{%block head %} 

{%endblock%}


{% block title %} Anasayfa - {{block.super}} {% endblock %}

{% block body%}

	<div class="banner-inner">
	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'home' %}">Anasayfa</a>
		</li>
		<li class="breadcrumb-item active">{{ post.slug }}</li>
	</ol>

	<!--//banner-->
	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">
								<a href="single.html">
									<img src="{{ post.image.url }}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i> {{post.tarih}}</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-thumbs-up"></i> {{post.like}} Beğeni</a>
									</li>
									<li>
										<a href="#">
											<i class="far fa-comment"></i> {{post.comments.count}} Yorum</a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
						<h3>
							{{post.baslik}}
						</h3><br>
						<p>{{post.metin|safe|linebreaks}}</p>
						<hr>
						<h5>Tags</h5>
						{% for screen in post.screenshots_as_list %}
							<a href="../../?q={{screen}}"><strong><span class="badge badge-secondary">{{screen}}</strong></span></a>
						{%endfor%}
						<hr>
						<div>

							<center><h5>Beğen Paylaş Destek Ol!</h5><br>
							<button  type="button" class="btn btn-primary">Beğen</button>
							<div class="btn-group">
									<button type="button" class="btn btn-primary">Facebook</button>
									<button type="button" class="btn btn-primary">İnstgram</button>
									<button type="button" class="btn btn-primary">Twitter</button>
							</div>
								 
						</div>

							</center>
						
					
						<hr>
					{%if post.comments.all%}
					<div class="comment-top">
						<h4>Yorumlar</h4>
<br>
						{% for comment in post.comments.all %}			
							<div class="media">
								
									<img src="../../static/images/t1.jpg" alt="" class="img-fluid" />
									<div class="media-body">
									<h5 class="mt-0">&nbsp; {{ comment.name}} | {{comment.created_date|timesince}} önce</small></h5>
									&nbsp;&nbsp; <p>{{ comment.content|linebreaks}}</p>
								</div>
								<hr>
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Beğen"></button>
							</div>
							<hr>
							<br>
						{% endfor %}
					</div>
					{%endif%}
<br><br><br>

					<div class="comment-top">
						<h4>Yorum Ekle</h4>
						<div class="comment-bottom">
								{% include 'post/comment.html' %}
						</div>
					</div>
				</div>

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">
						<div class="tech-btm">
							<img src="../../static/images/banner1.jpg" class="img-fluid" alt="">
						</div>
						<div class="tech-btm">
								<h4>Mail servisimize abone ol!</h4>
								<p>Gelişmelerden haberdar ol</p>
								<form action="#" method="post">
									<input type="email" placeholder="Email" required="">
									<input type="submit" value="ABONE OL">
								</form>
	
						</div>

						<div class="tech-btm">
								<h4>En Çok Okunanlar</h4>
	
								{% for post in posts%}
								<div class="blog-grids row mb-3">
									<div class="col-md-5 blog-grid-left">
										<a href="{{post.get_absolute_url }}">
											<img src="{{ post.image.url }}" class="img-fluid" alt="{{post.baslik}">
										</a>
									</div>
									<div class="col-md-7 blog-grid-right">
	
										<h5>
											<a href="{{post.get_absolute_url }}">{{post.baslik}}</a>
										</h5>
										<div class="sub-meta">
											<span>
												<i class="far fa-clock"></i> {{post.tarih}}</span>
										</div>
									</div>
									{% endfor%}
								</div>	

					  
					
					</div>

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>

	{% endblock %}